body
{
    background-color:white;
}
table
{
    margin-top: 40px;
    border: solid;
    border-width: 2px;
    border-color: #cecece;
    width: 100%;
    empty-cells: show;
}
table ,th,td
{
    border: solid;
    border-width: 2px;
    border-collapse: collapse;
    border-color: grey;
    table-layout: fixed;
  
}
#one
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:black;
    
    
}
h3
{
    position:static;
    margin-left: 450px;
    margin-top: 50px;
    width: 200px;
    border-style: dashed;
    padding-left: 10px;
    color:#20bcd5;
    font-weight: bold;
    font-size: 35px;
   
}
.time
{
     font-family: "Comic Sans MS", cursive, sans-serif;
     color:black;
    padding-left: 60px;
   
}
.word
{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color:white;
    background-color:#20bcd5;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 60px;
}